@import "bitbazaar";
body {
  color: #444;
  a {
    color: #333;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
  #intro-header, #footer {
    padding: 2em;
    background-color: #f0f2f4;
  }


  .content {
    padding-bottom: 30px;
    h2 {
      font-size: 24px;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-weight: 900;
      color: #3E5C76;
      border-bottom: solid 2px;
      margin-bottom: 20px;

    }
    h4 {
      margin-top: 0;
    }
    .info {
      h2 {

      }
      h3 {
        margin: 20px 0 0 0;
      }
    }
    .list-unstyled {
      li {
        background: #eee;
        line-height: 1.8em;
        margin-bottom: 3px
      }
    }
  }
}
