@import "bootstrap.less";
@bit-bazaar-blue:               #0027ff;
@bit-bazaar-blue-highlight:     #f7ccd4;
@bit-bazaar-red:                #ff0037;
@bit-bazaar-red-highlight:      #abf5b4;

@tk-aktiv-grotesk-std:  "aktiv-grotesk-std",sans-serif;
@larabiefont: "larabiefont",monospace;

@font-family-base: @tk-aktiv-grotesk-std;
@headings-font-family: @larabiefont;


.tk-aktiv-grotesk-std {
    font-family: @tk-aktiv-grotesk-std;
    font-size-adjust:0.508;
    font-weight:normal;
    font-style:normal;
}


html {
	height: 100%;
}

@media (min-width: 500px) {
  body {
    padding: 1em;
  }
  h1 {
    font-size: 3.2em;
  }
  .logo {
    padding: 2em 25%;
  }
  .bs-docs-section {
    margin-bottom: 1em;
  }
  .location h1:first-child {
    padding-right: .5em;
  }
  .location h1 {
    display: inline;
  }
  #cfp button[type="submit"] {
    width: initial;
  }
}




html {
  height: 100%;

}
body {
  margin: 0;
  height: 100%;

  &.bit-bazaar {
    .modal-backdrop {
      background-color: fadeout(#444,60%);
    }
    .content {
      margin: 0;
    }
  }

}
.mixin(@color; @background) {
  background: @background;
  h2,
  h3,
  p {
    color: @color;
    small {
      color: lighten(@color,10%);
    }
  }

}

#about {
  .mixin(#eee;#1f1f1f);

}

#music {
  .mixin(#7d5f2f;#eeeeee);

}
#vendors {
  .mixin(#29416d;#b3b3b3);

}
body {
  padding-top: 50px;
  a {
    color: #000;
    text-decoration: underline;
    &:hover {
      color: darken(#00ab6f,10%);
    }

  }
  &#bit-bazaar-spring-fair-2015 {


    section#directions {
      margin: 0;
      padding: 0 !important;
      iframe {
        height: 300px;
      }

      p {
        font-size: 16px;
        line-height: 1.6em;
        a {
          color: #444;
          font-weight: 900;
          text-decoration: underline;
        }
      }
      h4 {
        font-family: "letter-gothic-std";
        line-height: 2em;
        text-transform: uppercase;
        font-wieght: 800;
        font-weight: bold;
      }

    }

    section#about {

      padding-top: 60px;
      padding-bottom: 60px;
    }

    .wrapper {
      display: table;
      width: 100%;
      height: 100%;
      margin: auto;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
      position: relative;

    }
    .footer {
      padding: 10px 0;
        p,p.text-center {
          text-align: left !important;
        }
    }
    .mid-headline {
      letter-spacing: 2px;
      font-size: 32px;
      font-weight: 100;

    }
    h2 {
      .mid-headline;
      font-size: 42px text-center();
      text-transform: uppercase;
      letter-spacing: 2px;

    }
    #header {
      background: #C6BBD1;
      p {
        color: #fff;

      }
      #bbwm-logo {
        margin-top: -60%;
        max-width: 80%;

        @media (min-width: @screen-md-min) {
          margin-top: -10%;
        }
      }

      .cell {
        width: 100%;

      }
      padding: 0;
      /* 	padding-top: 60px; */
      height: 80%;
      min-height: 400px;
      @media (min-width: @screen-sm-min) {


      }
      @media (min-width: @screen-md-min) {


      }
      @media (min-width: @screen-lg-min) {


      }
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
      background-size: cover;

      img {
        float: none;
        display: block;
        margin: 0 auto;
      }
      #socmed {
        margin: 10px auto;
        img {
          display: inline;
          padding: 0 10px;
        }

      }
      #feature {
        p {
          text-align: center;
          color: #fff;
          &:first-child {
            margin: 0;
          }

        }
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        bottom: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.75) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.75) 100%);
        /* W3C */

        /* IE6-9 */
      }

    }
    padding-bottom: 0;
    #overview {
      padding-bottom: 60px;
      padding-top: 60px;
    }
    h1,
    h2 {
      font-size: 18px;
    }
    div.page-header {
      margin-bottom: 0;
      .lead {
        margin-bottom: 0;
      }

    }
    /* Small devices (tablets, 768px and up) */
    @media (min-width: @screen-sm-min) {
      h1,
      h2 {
        font-size: 28px;
      }

    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: @screen-md-min) {
      h1,
      h2 {
        font-size: 36px;
      }

    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: @screen-lg-min) {


    }
    .caption {
      margin-top: 10px;

    }
    #venue {
      padding-top: 50px;

    }
    section {
      padding-top: 20px;
      padding-bottom: 20px;
      h3 {
        line-height: 1em;
        padding: 0;
        @media (min-width: @screen-sm-min) {
          line-height: normal;
        }

      }
      p {
        .lead();
        span,
        a {


        }
        a {
          text-decoration: none;
          border-bottom: solid 2px #fff;
          color: #fff;

        }
        strong {
          color: #fff;
        }
        &.links {
          color: #fff;
          a {
            text-decoration: none;
            border-bottom: solid 2px #fff;
            color: #fff;
          }
        }

      }
      &#vendors,
      &#music {
        padding-bottom: 60px;
        p {
          background: #a5fc32;
          display: inline;
          padding: 3px 5px;

        }
        h3 {
          font-weight: 100;
        }
        h2 small,
        h4 {
          font-family: "letter-gothic-std";

        }
        #exhibitor-lists {
          > div {
            padding-top: 60px;
          }
          ul.confirmed {
            li {
              display: inline;
              h3 {
                display: inline;
                font-size: 24px;
                letter-spacing: 1px;
                font-style: normal;
                font-weight: 100;
                font-family: "letter-gothic-std";
                line-height: 2em;
                text-transform: uppercase;
                small {
                  display: block;
                  letter-spacing: 1px;
                  padding-bottom: 20px;
                }
                @media (min-width: @screen-sm-min) {
                  white-space: nowrap;
                  font-size: 24px;
                  small {
                    display: inline;
                    text-align: right;
                    padding-right: 20px;
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }

    }
    h3 {
      .mid-headline;
    }

  }
  @bgDefault: #fff;
  //#fff;
  @colDefault: #000;

  @bgHighlight: #000;

  @colHighlight: lighten(#fff,10%);

  .navbar-default {
    background-color: @bgDefault;
    border: none;
    .navbar-brand {
      color: @colDefault;
      &:hover,
      &:focus {
        color: @colHighlight;
      }

    }
    .navbar-text {
      color: @colDefault;
    }
    .navbar-nav {
      > li {
        > a {
          color: @colDefault;

          @media (min-width: @screen-sm-min) {
            font-size: 12px;
          }
          @media (min-width: @screen-md-min) {
            font-size: 18px;
          }
          @media (min-width: @screen-lg-min) {


          }
          text-transform: uppercase;
          letter-spacing: 2px;
          font-style: italic;
          font-weight: 100;
          &.exhibitors {


          }
          &:hover,
          &:focus {
            text-decoration: underline;
            color: #fff;
            background: #000;
          }
        }

      }
      > .active {
        > a,
        > a:hover,
        > a:focus {
          text-decoration: underline;
          color: #fff;
          background-color: #000;
        }

      }
      > .open {
        > a,
        > a:hover,
        > a:focus {
          color: @colHighlight;
          background-color: @bgHighlight;
        }
      }

    }
    .navbar-toggle {
      border-color: @bgHighlight;
      &:hover,
      &:focus {
        background-color: @bgHighlight;
      }
      .icon-bar {
        background-color: @colDefault;
      }

    }
    .navbar-collapse,
    .navbar-form {
      border-color: @colDefault;
    }
    .navbar-link {
      color: @colDefault;
      &:hover {
        color: @colHighlight;
      }
    }

  }
  @media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
      > li > a {
        color: @colDefault;
        &:hover,
        &:focus {
          color: @colHighlight;
        }

      }
      > .active {
        > a,
        > a:hover,
        > a:focus,
         {
          color: @colHighlight;
          background-color: @bgHighlight;
        }
      }
    }
  }
}
